<%- include("./partials/header.ejs") %>
<title>Login confirmation</title>
</head>
<body>
    <div>
        <p>Your login attempt requires confirmation. Please, enter confirmation code:</p>
        <p><%= code %></p>
        <p>If you didn't attempt to login, please ignore this message.</p>
    </div>
<%- include("./partials/footer.ejs") %> 